<div class="container"> <!-- CONTENEDOR PRINCIPAL -->
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!-- BARRA DE NAVEGACION -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/fanalca.png" width="200" height="70" alt="">      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empleados']">EMPLEADOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/areas']">AREAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sub-areas']">SUBAREAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tipos-documento']">TIPOS DE DOCUMENTO</a>
        </li>
      </ul>      
    </div>
  </nav> <!-- CERRAR BARRA DE NAVEGACION -->
  <!-- CONTENIDO -->
  <router-outlet></router-outlet> 
  <footer>
    <hr/>
    Desarrollado con AngularJS por Hector Morales
    <hr/>
  </footer>
</div>  <!-- CERRAR CONTENEDOR PRINCIPAL -->